.container-especifications{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-container-especifications{
    display: flex;
    width: 80%;
    height: auto;
    justify-content: space-between;
    align-items: center;
}

.text-area-especifications div{
    width: 100%;
    height: 100%;
    font-family: 'Poppins';
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.text-area-especifications h3{
    font-size: 76px;
    color: #2A9A90;
}
.text-area-especifications p{
    font-size: 18px;
}
.image-area-especifications{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;

}
.sub-container-especifications img{
    width: 60%;
}
