@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    font-family: 'Poppins';
    background-color: rgb(247, 247, 247);
}
.main-container{
    display: flex;
    width: 100%;
    height: 70vh;
    flex-direction: row;
}
.title-area{
    width: 90%;
    height: 200px;
    font-size: 35px;
    font-weight: 200;
    padding-left: 4%;

}
.title-area h1{
    font-size: 50px;
    font-weight: 200;
}


/*CSS DO HEADER*/

header {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-evenly;
    background-color: white;
  }
  .nav-header {
    width: 70%;
    display: flex;
    align-items: center;
  }
  .nav-header ul {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    list-style: none;
  }
  .nav-header ul li a {
    font-family: 'Poppins';
    color: black;
    font-size: 20px;
    text-decoration: none;
    transition: 200ms;
  }
  .nav-header ul li a:hover {
    color: #2a9a90;
    font-size: 22px;
  }
  .logo-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 15%;
  }
  .logo-header a img {
    width: 70%;
    transition: 200ms;
  }
  .logo-header a img:hover {
    width: 75%;
  }

  .login-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 15%;
  }
  .login-btn {
    padding: 0.5em 2em;
    border-radius: 30px;
    border: 0;
    font-family: 'Poppins';
    color: white;
    font-size: 20px;
    font-weight: normal;
    background-color: #2a9a90;
    cursor: pointer;
    transition: 200ms;
  }
  .login-btn:hover {
    padding: 0.6em 2.2em;
  }

.input-container-area{
    height: 75vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.input-area{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.input-container{
    width: 80%;
    height: 55vh;
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.response-area{
    width: 50%;
    height: 87vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.response-container{
    background-color: #003049;
    border-top-left-radius: 50px;
    border-bottom-left-radius:50px;
    width: 100%;
    height: 70%;
}
.response-container h1{
    color: white;
    padding-left: 10%;
    font-size: 39px;
}
.response-container h2{
    width: 80%;
    font-size: 20px;
    color: white;
    font-weight: 300;
    margin-left: 10%;
}

.input-area h3{
    font-size: 19px;
    font-weight: 400;
}

.ipt-calc::placeholder{
    padding: 10px;
    font-family: 'Poppins';
}
.ipt-calc{
    width: 60%;
    height: 30px;
    border: 0;
    box-shadow: 1px 3px 2px #cccccc;
    border-radius: 6px;
    outline: none;
    text-indent: 20px;
}
.input-area select{
    width: 20%;
    border-radius: 8px;
    height: 35px;
    border: 1px solid #cccccc;
    box-shadow: 1px 3px 2px #cccccc;
    color: gray;
}
.btn-container button{
    width: 220px;
    height: 57px;
    background-color: #F77F00;
    border: 0;
    border-radius: 20px;
    font-family: 'Poppins';
    color: white;
    font-size: 20px;
    cursor: pointer;
}
