/*SEÇÃO SOBRE NÓS*/
.section-about-us{
    width: 100%;
    display: flex;
    justify-content: center;
}
.sub-section-about-us{
    display: flex;
    width: 60%;
    justify-content: center;
    flex-direction: column;
}
.sub-section-about-us h3{
    font-size: 50px;
    font-family: 'Poppins';
    color: #2A9A90;
}
.sub-section-about-us p{
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 300;
}





